    #content{
      width:960px;
      margin:0 auto; 
      background-color: rgb(30, 17, 148)
    }
    .bottom-row {
      text-align:center;
      width: 48%
      }
    
    .header-top {
      font-family: "Verdana", Geneva, sans-serif;
        width:48%
    }
    .paragraph-page {
      font-family: "Courier New", Courier, monospace; 
      width: 100%;
      }
    
    .text-link { 
      font-size: 1.1em; 
    }
    h1{ 
    padding: 1em
    }
    
    .full-width{
      width: 100%;
    }
    .leftcol{
        width: 48%;
        flex: 1 0 15em;
          margin: .5em;
      }