thead {
    font-family: Ubuntu, sans-serif;
    background-color: #e7f0ed;
    font-size: 12px;
}

tbody {
    background-color: #e7ffed;
    color: black;
    display: table-cell;
    vertical-align: baseline;
    font-size: 9px
}

tr {
    background-color: #628ca6;
    color: white; 
}
.other-td{
    background-color: #7fb9c2;
}