thead {
    font-family: Ubuntu, sans-serif;
    background-color: #e7f0ed;
    font-size: 12px;
}

td{
    display:table-cell;
    vertical-align: baseline;
}

tbody {
    background-color: #e7ffed;
    color: black;
    display: table-cell;
    vertical-align: baseline;
    font-size: 10px;
}

tr {
    background-color: #628ca6;
    color: white; 
    display: table-row;
    vertical-align: inherit;
    font-family: Ubuntu, sans-serif;
}
.other-td{
    background-color: #7fb9c2;
}