thead {
    font-family: Ubuntu, sans-serif;
    background-color: #e7f0ed;
    font-size: 12px;
    display: table-row; 
}

tbody {
    background-color: #e7ffed;
    color: black;
    display: table-cell;
    vertical-align: baseline;
    font-size: 9px;
    border-collapse: separate; 
    line-height: normal;
    font-weight: normal; 
    tab-size: 4; 
    border-spacing: 0px; 
    font-variant: normal; 
    font-family: Ubuntu, sans-serif;
}

tr {
    background-color: #628ca6;
    color: white; 
    display: table-row;
    vertical-align: inherit;
    font-family: Ubuntu, sans-serif;
}
.other-td {
    background-color: #7fb9c2;
    font-family: Ubuntu, sans-serif;
}