*{
    box-sizing:border-box;
}
nav { 
	background-color: #84dcc6; 
	  font-size: 1.2em;
	  padding:1em;
	  color: #4b4e6d;
	}
	
	nav ul{
	  display:flex;
		margin:auto;
		padding-left:0px;
		justify-content: center;
		color: #4b4e6d;
		list-style-type: none;
	}
		nav li: hover {
			display: inline;
			background: #4b4e6d;
		}
		li.active {
			background-color: #6b7baa;
        }
        
        #weather-summary{
            position: absolute;
            padding:15px;
            width:30%;
            height:70%;
            top:60px;
            left:60px;
            border: 0px;
            border-radius: 3px;
            background-color: rgba(65, 98, 104, 0.95);
            color:#F0ebd8;
            font-size: .65rem;
            box-shadow: 5px 5px 20px #1D2D44;
        }
        #weather-heading{
            margin:0;
            text-align: center;
            padding:5px;
            text-decoration: underline;
            color:#F0ebd8;
            font-size: .85rem;
         }
header h1{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}	
.preston-article {
    border: 1px;
    display: inline-block; 
    vertical-align: middle; 
    margin: auto;
}
section.headings {
	display: flex;
	flex-direction: column; 
	align-items: center; 
	justify-content: center;
	text-align: center; 
	margin: auto; 
}
header {
	text-align: center;
	display: flex;
	justify-content: center;
}
	nav a { 
	color:#4b4e6d;
	text-decoration: none;
	padding: 15px;
	}
	.text-link { 
		font-size: 1.1em; 
		color: #4b4e6d;
	  }

#main-logo {
	width: 100px;
	padding: 15px; 
	display: inline-block;
}
	body{
	background-color: #95a3b3;
	margin: 0;
	}

main{
	padding: 10px;
	width: 100%; 
	margin: auto;
	justify-content: center;
}
	
	h1 {
		display:flex;
		font-family: 'Anton', sans-serif;
		color: #4b4e6d;
		text-align: center; 
            }
    h3 {
	display:flex;
	font-family: 'Anton', sans-serif;
	color: #4b4e6d;
    }
    h2 {
    display:flex;
    font-family: 'Anton', sans-serif;
    color: #4b4e6d;
    text-align: center; 
    }
    #div-one{
    position: relative;
    }
 #hero-section{ 
     background-color:#ffffff;
    border:none; 
     }
     #hero-img{
     width:100%;
    margin-top:10px; 
      }
    picture{
    width:100%;
    }

     #forecast-section{
         display:flex;
        flex-direction: row;
      border-radius: 6px;
        }

        #road-img{
            height: 10em;
            float: auto;
            margin: 3%;
            display: inline-block; 
        }

        footer{
            background-color: #0d1321;
            color: #F0ebd8;
            padding:10px;
            margin:auto;
            font-family: 'Noto Sans', sans-serif;
            text-align: center;
        }
        main footer{
            max-width: 800px;
        }
        #weather{
            text-transform: capitalize;
        }

        .forecast{
            padding:10px;
        }
        .forcast-days{
           padding-bottom:5px;
           margin:3px;
        }
        div{
            padding:5px;
        }
        .sun-icon{
            display: flex;
            justify-content: center;
            width: 100%;
        }
	p {
		font-family: 'Josefin Sans', sans-serif;
		display:flex;
      color: #4b4e6d;
	  }
	
	.text-link { 
	  font-size: 1.1em; 
    }

    @media only screen and (max-width:900px)
	{
		nav ul{
			flex-direction:column;
		}
    }

    /* citation: help from classmate Mckenzie Lewsis and Ramsey Harris*/ 