nav { 
	background-color: #84dcc6; 
	  font-size: 1.2em;
	  padding:1em .6em
	}
	nav a:hover{
	}
	nav ul{
	  display:flex;
		margin:0
	}
	
	nav a { color:#ffffff;
	}
	
	#main-page {
		background-color: #95a3b3;
	}	
	#top-row {
	  background-color: #E0FFFF;
	  display:flex;

	  #main-logo {
		  display:float;
	  }
	.bottom-paragraph{
	  text-align:center; 
	  width: 48%; 
	  font-color:"#4b4e6d"
	}
	
	h2 {
		font-family: 'Anton', sans-serif;
		width:48%;
		color: #ffffff;
	}
	p {
		font-family: 'Josefin Sans', sans-serif;
		display:flex;
	  width: 48%;
	  color: #4b4e6d;
	  }
	
	.text-link { 
	  font-size: 1.1em; 
	}
	h1{ 
	padding: 1em;
	font-family: 'Anton', sans-serif;
	color: #ffffff;
	}
	
	.full-width{
	  width: 100%;
	}
	#top-row, #middle-row {
	  display: flex; 
	  flex-flow: row wrap;
	  align-items: center;
	}

font-family: 'Josefin Sans', sans-serif;
font-family: 'Anton', sans-serif;