  img[data-src] {
    filter: blur(0.2em);
  }
  
  img {
    filter: blur(0em);
    transition: filter 0.5s;
    width: 300px;
    height: 400px; 
    columns: auto;
  }
  body {
      display: table-row;
      vertical-align: inherit;
      border-spacing: 0px;
      border-collapse: separate; 
      white-space: pre-wrap;
  }