*{
    box-sizing:border-box;
}
nav { 
	background-color: #84dcc6; 
	  font-size: 1.2em;
	  padding:1em;
	  color: #4b4e6d;
	}
	
	nav ul{
	  display:flex;
		margin:auto;
		padding-left:0px;
		justify-content: center;
		color: #4b4e6d;
		list-style-type: none;
	}
		nav li: hover {
			display: inline;
			background: #4b4e6d;
		}
		li.active {
			background-color: #6b7baa;
		}
header h1{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}	
section.headings {
	display: flex;
	flex-direction: column; 
	align-items: center; 
	justify-content: center;
	text-align: center; 
	margin: auto; 
}
header {
	text-align: center;
	display: flex;
	justify-content: center;
}
	nav a { 
	color:#4b4e6d;
	text-decoration: none;
	padding: 15px;
	}
	.text-link { 
		font-size: 1.1em; 
		color: #4b4e6d;
	  }

#main-logo {
	width: 100px;
	padding: 15px; 
	display: inline-block;
}
	body{
				background-color: #95a3b3;
				margin: 0;
	}

main{
	padding: 10px;
	width: 100%; 
	margin: auto;
	justify-content: center;
}
	
	h2 {
		display:flex;
		font-family: 'Anton', sans-serif;
		color: #4b4e6d;
		text-align: center; 
			}

			h3 {
				display:flex;
				font-family: 'Anton', sans-serif;
				color: #4b4e6d;
					}
	p {
		font-family: 'Josefin Sans', sans-serif;
		display:flex;
      color: #4b4e6d;
	  }
	
	.text-link { 
	  font-size: 1.1em; 
    }
    form fieldset{
        border: 1px solid #748cab;
        border-radius: 6px;
        margin-top: 2rem;
        padding-left:25px;
        box-shadow: 5px 5px 10px #cccccc;
        padding-bottom:2rem;
    }

    form fieldset label{
        display:block;
        margin-top: .75rem;
        font-size: 1rem;
        color: #3E5C76;
    }
    form fieldset label.req{
            color: rgb(111, 93, 145);
    }
	form fieldset input.req{
        background-color:#f7dcdc;
    }
    input, select{
        font-size:1rem;
        display:block;
        border: 1px solid #ccc;
        background-color: rgb(226, 237, 241);
        border-radius: 2px;
        height: 2.5rem;
        width: 50%;
    }
    legend{
        margin:0 2rem;
        padding: .75rem;
        font-weight: bold;
        color: #3E5C76;
    }
    div{
        padding-top: 15px;
    }
    textarea{
        border:1px solid #ccc;
        background-color: rgb(240,239,239);
        border-radius: 2px;
        display:block;
        width: 50%;
   
    }
    form input.btn{
        margin: 2rem 0 1.7rem 2rem;
        border: 1px solid hidden;
        background-color: #3E5C76;
        font-size:1.15rem;
        color: #F0ebd8;
        border-radius: 6px;
        width: 50%;
        transition: background-color .25s;
        box-shadow: 5px 5px 10px #cccccc;
       font-weight: bold;
    }
    form input.btn:hover{
       background-color: rgb(167, 73, 73);
       box-shadow: 10px 10px 15px grey; 
       border: hidden;
    }
    form input.radio{
        height: 1rem;
    }
	.full-width{
	  width: 100%;
	}
	@media only screen and (max-width:600px)
	{
		nav ul{
			flex-direction:column;
		}
    }

    /! citation: help from classmate Mckenzie Lewsis !/ 